.contact-section {
  margin-top: 30px;
  display: flex;
  justify-content: space-around;
  background-color: var(--bg-card);
  width: 90%;
  max-width: 800px;
  padding: 30px;
  border-radius: 30px;
}

.contact-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  text-decoration: none;
  transition: transform 0.3s ease;
}

.contact-link:hover {
  transform: translateY(-5px);
}

.contact-icon {
  height: 45px;
  width: 45px;
}

.contact-label {
  color: var(--text-dim);
  transition: color 0.3s ease;
}

.contact-link:hover .contact-label {
  color: var(--text-accent);
}